body{
    background-color: #9bff98; 
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav.navbar {
    background-color: #2dad28;


}

div#carouselExample {
    width: 70%;
    margin: auto
}